*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

body {
    background-color: rgb(169, 163, 255);
}

a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 5px 25px;
    border: 2px solid white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    color: yellow;
    font-style:italic;
    background-color: red;
}

.gridContainer{
    display: grid;
    grid-template-columns: 50% 50%;
}

#container{
    display: flex;
    position:relative;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    height: 150px;
}

button{
    padding: 10px;
    border-radius: 7px;
    border: 2px solid white;
}

button:hover, button:active{
    border: 3px solid black;
}

button:active{
    border: 2px solid yellow;
}