*{
    color: rgb(32, 32, 32);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

body {
    background-color: rgb(169, 163, 255);
}

h1{
    font-family: "Marker Felt", fantasy;
}

.gridContainer{
    display: grid;
    grid-template-columns: 50% 50%;
}

#container{
    display: flex;
    position:relative;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    height: 150px;
}

button{
    padding: 10px;
    border-radius: 7px;
    border: 2px solid white;
    font-size: 16px;
}

button:hover, button:active{
    border: 3px solid black;
}

button:active{
    border: 2px solid yellow;
}